*{
    margin: auto;
    padding: auto;
}

.cabecera {
    background-color: #488bf4;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 12vh;
}

.navegacion{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #519f5c;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.diseñonav{
    border: 1px black solid;
    padding: 7px;
    background: linear-gradient(to bottom, #00ffdd 0%, #ccffff 100%);
    border-radius: 50px;
    box-shadow: 3px 3px#4b6f61;
    font-size: 20px;
    font-family: "Sofia", sans-serif
}

.diseñonav:hover {
    background: linear-gradient(to bottom, #ffff99 0%, #ccffff 100%);
    
}

.padre {
    display:flex;
    text-align: center;

   
}

.comun{
    background-color: #37b4fc;
    height: 79.8vh;
    width: 20vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black

}

.especial{
    background-color: #ff9633;
    height: 79.8vh;
    width: 20vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.epica{
    background-color: #9f5cf7;
    height: 79.8vh;
    width: 20vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
    
}

.legendaria{
    background-color: #fcd899;
    height: 79.8vh;
    width: 20vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
    
}

.campeon{
    background-color: #fde144;
    height: 79.8vh;
    width: 20vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
    
}

.imagencomun {
    height: 30vh;
    width: 15vw;
    margin-top: 22vh;
    display:flex;
    justify-content: center;
    align-items: center;

}

.imagenespecial {
    height: 30vh;
    width: 15vw;
    margin-top: 22vh;
    display:flex;
    justify-content: center;
    align-items: center;  
}

.imagenepica {
    height: 30vh;
    width: 15vw;
    margin-top: 22vh;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.imagenlegendaria {
    height: 33vh;
    width: 17vw;
    margin-top: 21vh;
    display:flex;
    justify-content: center;
    align-items: center; 
}

.imagencampeon {
    height: 50vh;
    width: 20vw;
    margin-top: 12vh;
    display:flex;
    justify-content: center;
    align-items: center; 
}