*{
    margin: 0;
    padding: 0;
}

.cabecera {
    background-color: #488bf4;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    height: 12vh;
}

.navegacion{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: #519f5c;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.diseñonav{
    border: 1px black solid;
    padding: 5px;
    background: linear-gradient(to bottom, #39f8df 0%, #f7f7f7 100%);
    border-radius: 30px;
    box-shadow: 3px 3px#4b6f61;
    font-size: 20px;
    font-family: "Sofia", sans-serif
}

.diseñonav:hover {
    background: linear-gradient(to bottom, #ffff99 0%, #ccffff 100%);
    
}
.padre {
    display: flex;
    text-align: center;
}

.hijo1{
    background-color: #ffab18;
    height: 76vh;
    width: 70vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black;
    text-align: left;
    font-family: "Georgia";

}

.hijo2{
    background-color: #e7dfd1;
    height: 76vh;
    width: 38vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.imagen {
    height: 76vh;
}

.pie {
    background-color:#000000;
    height: 28px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
  }

.texto1 {
    color: rgb(7, 20, 204);
}

.texto2 {
    color: red;
}





a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}