*{
    margin: auto;
    padding: auto;
}

.cabecera {
    background-color: #488bf4;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    height: 12vh;
}

.navegacion{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    background-color: #519f5c;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}



.emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    width: 30vw;
}

.padre {
    display:flex;
    text-align: center;

   
}

.hijo1{
    background-color: #ffab18;
    height: 72.7vh;
    width: 23vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black

}

.hijo2{
    background-color: #ffab18;
    height: 72.7vh;
    width: 55vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.hijo3{
    background-color: #ffab18;
    height: 72.7vh;
    width: 23vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
    
}

.gif {
    height: 35vh;
    

  }

  .gif3 {
    height: 55vh;
  }


a{
    text-decoration: none;
    color:black;
}

.gif9 {
    height: 33vh;
   
}