*{
    margin: auto;
    padding: auto;
}

.cabecera {
    background-color: #488bf4;
    height: 12vh;
    display:flex;
    align-items: center;
    justify-content: center;
    
}

.logo {
    height: 12vh;
}

.navegacion{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 12.8vh;
    background-color: #519f5c;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}



.emoji {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    width: 25vw;
}

.padre {
    display: flex;
    flex-direction: row;
    background-color: #ffab18;
    

}

.hijo1{
    background-color: #ffab18;
    height: 75vh;
    width: 21vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black

}

.hijo2{
    background-color: #ffab18;
    height: 75vh;
    width: 61vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
}

.hijo3{
    background-color: #ffab18;
    height: 75vh;
    width: 21vw;
    border-width: 1px;
    border-top-style: solid;
    border-color: black
    
    
}


.imagenrey1 {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 39vh;
    width: 14vw;
    padding-top: 18vh;
}

.imagenrey2 {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 40vh;
    width: 15vw;
    padding-top: 18vh;
}


.arena {
    display: block;
    height: 74.9vh;
    width: 57vw;
    
}